:root {
    --rojo: #e50914;
    --fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}
header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}
header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}
header nav a:hover, header nav a.activo {
    color: #fff;
}

/*---------------PELICULA PRINCIPAL---------------*/

.pelicula__principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0, .50) 100%), url(../img/backdrop.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}

.pelicula__principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula__principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.pelicula__principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.pelicula__principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
.pelicula__principal .boton:hover {
    background: #fff;
    color: rgb(0, 0, 0);
}
.pelicula__principal .boton i {
    margin-right: 1.25em;
}

/*-----------CONTENEDOR TITULO Y CONTROLES-----------*/

.contenedor__titulo--controles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contenedor__titulo--controles h3 {
    color: #fff;
    font-size: 30px;
}
.contenedor__titulo--controles .indicadores button {
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor__titulo--controles .indicadores button:hover,
.contenedor__titulo--controles .indicadores button.activo { 
    background: red;
}



/*-----------CONTENEDOR PRINCIPAL Y FLECHAS-----------*/

.peliculas__recomendadas {
    margin-bottom: 70px;
}
.peliculas__recomendadas .contenedor__principal {
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas__recomendadas .contenedor__principal .flecha__izquierda,
.peliculas__recomendadas .contenedor__principal .flecha__derecha {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    border: none;
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}
.peliculas__recomendadas .contenedor__principal .flecha__izquierda:hover,
.peliculas__recomendadas .contenedor__principal .flecha__derecha:hover { 
    background: rgba(0, 0, 0, .9);
}

.peliculas__recomendadas .contenedor__principal .flecha__izquierda {
    left: 0;
}
.peliculas__recomendadas .contenedor__principal .flecha__derecha {
    right: 0;
}

/*---------------CARROUSEL---------------*/

.peliculas__recomendadas .contenedor__carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.peliculas__recomendadas .contenedor__carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}
.peliculas__recomendadas .contenedor__carousel .carousel .pelicula {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.peliculas__recomendadas .contenedor__carousel .carousel .pelicula.hover {
    transform: scale(1.2);
    transform-origin: center;
}
.peliculas__recomendadas .contenedor__carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}






/*----------MEDIA QUERIES, RESPONSIVE DESIGN----------*/

@media screen and (max-width: 800px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor {
        flex-direction: column;
        text-align: center;
    }
    .pelicula__principal {
        font-size: 14px;
    }
    .pelicula__principal .descripcion {
        max-width: 100%;
    }

    .peliculas__recomendadas .contenedor__carousel {
        overflow: visible;
    }
    .peliculas__recomendadas .contenedor__carousel .carousel { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .peliculas__recomendadas .indicadores,
    .peliculas__recomendadas .flecha__izquierda,
    .peliculas__recomendadas .flecha__derecha {
        display: none;
    }
}